/* Top */
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top .container { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-text {
    margin-top: calc(var(--index) * 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search {
    margin-left: 20px;
}
.top-text__place {
    display: flex;
}
.top-text__place > * {
    margin: 0 10px;
    font-size: 16px;
    line-height: 208.5%;
}
.text-place__orange {
    color: #E47500;
}
.top-title{
    margin-top: calc(var(--index) * 1);
    font-size: 33px;
    font-weight: 700;
    line-height: 180%;
}
.top-text__main {
    margin-top: calc(var(--index) * 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 187%;
}
.top-search {
    margin-top: calc(var(--index) * 2);
    width: 400px;
    height: 50px;
    background-color: #1C140F;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


/* News */

.news {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.news .container {
    margin-top: calc(var(--index) * 4);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 72px;
}
.news-left > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-left__first {
    padding-bottom: 90px;
    border-bottom: 0.7px solid #A5A5A5;
}
.news-left__img {
    margin-bottom: 20px;
    transition: transform 0.6s ease;
}
.news-left__img:hover {
    transform: scale(1.1);
}
.left-duration {
    display: flex;
    align-items: center;
}
.left-name {
    width: 165px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2351F5;
    margin-right: 20px;
    font-size: 16px;
    line-height: 187%;
}
.left-time {
    opacity: 0.6;
    font-size: 16px;
    line-height: 187%;
}
.left-title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}
.left-text {
    opacity: 0.6;
    font-size: 17px;
    line-height: 208%;
    max-width: 530px;
}
.margin {
    margin-top: 20px;
}
.news-left__second {
    margin-top: 90px;
}



.news-right__item {
    display: flex;
    margin-bottom: 60px;
}
.news-right__img {
    margin-right: 30px;
    transition: transform 0.6s ease;
}
.news-right__img:hover {
    transform: scale(1.1);
}
.news-right__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-duration {
    display: flex;
    align-items: center;
}
.right-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 187%;
    width: 137px;
    height: 40px;
    background-color: aqua;
    margin-right: 15px;
}
.purple {
    background-color: #FF8484;
}
.right-place {
    font-size: 14px;
    line-height: 187%;
    opacity: 0.6;
}
.right-text {
    margin-top: 23px;
    font-size: 23px;
    font-weight: 600;
}
.blue {
    background-color: #2351F5;
}
.orange {
    background-color: #FF7C32;
}
.green {
    background-color: #23A54F;
}
.violet {
    background-color: #9921C3;
}