.presentation {
    display: flex;
    justify-content: center;
}
.presentation .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation-text {
    text-align: center;
    font-weight: 500;
    line-height: 187%;
    margin-bottom: calc(var(--index) * 1.5);
}
.presentation-text__place {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--index) * 4);
}
.presentation-text__place > * {
    font-size: 16px;
    line-height: 208%;
    margin: 0 10px;
    font-weight: 300;
}
.text-place__orange {
    color: #E47500;
}
.presentation-title {
    color: 33px;
    font-weight: 700;
    line-height: 180%;
    margin-top: calc(var(--index) * 1);
    margin-bottom: calc(var(--index) * 0.5);
}
.perfomance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1C140F;
    min-height: 200px;
    max-width: 1140px;
    border-radius: 10px;
}
.perfomance > *{
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfomance-item {
    border-right: 2px #ffffff solid;
    display: flex;
    padding: 0px 90px;
    margin: 40px 0px;
} 
.perfomance-item__text {
    display: flex;
    flex-direction: column;;
}
.item-text__number {
    font-size: 25;
    font-weight: 800;
    line-height: 30%;
    margin-bottom: calc(var(--index) * 0.5);
}
.right {
    border: 0;
}
.perfomance-item__icon {
    max-width: 55px;
    max-height: 55px;
    margin-right: 25px;
}

/* Spiderman */

.portfolio-spiderman {
    display: flex;
    justify-content: center;
    padding-top: calc(var(--index) * 3);
}
.portfolio-spiderman .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.portfolio-spiderman-text {
    display: flex;
    flex-direction: column;
    max-width: 430px;
}
.portfolio-spiderman-text__title {
    font-size: 30px;
    font-weight: 800;
    line-height: 180%;
}
.portfolio-spiderman-text__main {
    font-size: 14px;
    line-height: 187%;
    margin-top: calc(var(--index) * 1);

}
.portfolio-spiderman-text__list {
    font-size: 14px;
    line-height: 187%;
    margin-top: calc(var(--index) * 1);
}
.green-icon {
    width: 24px;
    height: 24px;
    margin-right: calc(var(--index) * 0.5);
}


/* Info */

.info {
    display: flex;
    justify-content: center;
    align-items: centers;
}
.info .container {
    width: 100%;
}
.info-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: calc(var(--index) * 5);
}
.info-1__text {
    max-width: 536px;
    margin-right: calc(var(--index) * 4);
}
.info__text-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: calc(var(--index) * 2);
}
.info__text-main {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: calc(var(--index) * 2);
}
.info__text-secondary {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: calc(var(--index) * 2);
}
.info-button {
    margin-top: calc(var(--index) * 2);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 177px;
    height: 50px;
    background-color: #DC7000;

}
.info-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: calc(var(--index) * 6);
    margin-bottom: calc(var(--index) * 4);
}
.info-2__text {
    max-width: 536px;
    margin-left: calc(var(--index) * 4);
}

/* Trust */

.trust {
    display: flex;
    justify-content: center;
    background-color: #1C140F;
    padding-bottom: calc(var(--index) * 3);
}
.trust .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trust-text {
    margin-top: calc(var(--index) * 2.5);
    max-width: 555px;
    width: 100%;
}
.trust-text__title {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.trust-text__main {
    margin-top: calc(var(--index) * 1);
    font-size: 14px;
    line-height: 187.5%;
    text-align: center;
    
}
.reviews {
    margin-top: calc(var(--index) * 2);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.reviews__item {
    width: 396px;
    height: 226px;
    display: flex;
    flex-direction: column;
    border: #DDDDDD solid 2px;
    border-radius: 10px;
}
.item-top__person {
    display: flex;
}
.reviews__item-top {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}
.itep-top__name-place {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.item-top__name {
    font-size: 18px;
    font-weight: 500;
}
.item-top__place {
    font-size: 14px;
    opacity: 0.5;
}
.item-top__rating {
    margin-right: 10px;
}
.rating__number {
    font-size: 16px;
}
.reviews__item-main {
    margin: 0 30px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 187.5%;
}
@media (max-width: 1250px) {
    .portfolio-spiderman .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
    }
}
@media (max-width: 1160px) {
    .perfomance {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .perfomance-item {
        border: 0;
    }
    .info-1, .info-2 {
        flex-wrap: wrap;
        gap: 20px;
    }
    .info-2__text, .info-1__text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .reviews {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width: 400px) {
    .reviews__item{
        width: 320px;
        height: auto;
    }
    .reviews__item-main{
        padding-bottom: 10px;

    }
}